@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap'); /* for chats */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* for names  font-family: 'Montserrat', sans-serif;  */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #CFD6E8;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 84, 84); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
.chat-container{
    height: 90vh;
    width: 80%;
    background-color: #0C1014;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 10%;
    /* overflow: hidden; */
}
.container-a{
    height: 100%;
    width: 100%;
    background-color: #0C1014;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    transition: all 1s;
    transform: translateX(0);
    position: absolute;
}
.container-b{
    background:#0C1014;
    height: 100%;
    width: 100%;
    /* background-color: #0C1014; */
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    transition: all 1s;
    transform: translateX(100%);
}
.container-b.active{
    transition: all 1s;
    transform: translateX(0%);
}
.a-heading-1{
    height: 20%;
    /* background-color: #CFD6E8; */
    width: 70%;
    display: flex;
    margin-top: 6%;
    margin-left: 8%;
}
.a-heading-1-1{
    width: 85%;
    height: 100%;
    font-size: 108px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right,  #FA5D7F 0%,  #6C82F9 100%);  /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.a-heading-1-2{
    width: 15%;
    height: 100%;
}
.a-heading-1-2 i{
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    color: #FDDB94;
    transform: rotate(-40deg);
}
.a-heading-2{
    width: 85%;
    height: 25%;
    font-size: 108px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right,  #4D47FF 0%,  #9FFBCE 100%);  /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-heading-3{
    width: 55%;
    color: #717375;
    font-family: 'Spartan', sans-serif;
    margin-top: 3%;
}
.a-heading-3 p{
    width: 100%;
    text-align: center;
}
.name-for-join-chat{
    background: transparent;
    border: thick;
    border-bottom: 1px solid white;
    outline: none;
    width: 20%;
    margin-left: 4%;
    margin-top: 2%;
    height: 5%;
    color: #717375;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}
.a-heading-4{
    height: 15%;
    width: 80%;
    /* background: #4D47FF; */
    margin-top: 3%;
    display: flex;
    flex-direction: row;
}
.a-heading-4-1{
    height: 100%;
    width: 25%;
}
.a-heading-4-1 img{
  height: 100%;
}
.a-heading-4-2{
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #FA5D7F 0% , #6C82F9 100%);
    color: white;
    font-family: 'Spartan', sans-serif;
    /* background-color: #6C82F9; */
    border-radius: 20px;
    margin-left: 15%;
    transition: all 0.5s;

    
}
.a-heading-4-2:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.a-heading-4-3{
    height: 100%;
    width: 25%;
}
.a-heading-4-3 img{
    height: 100%;
    margin-left: 64%;
}

.container-a.active{
    transition: all 1s;
    transform: translateX(-100%);
}

.container-b-1{
    height: 100%;
    width: 27%;
    display: flex;
    /* background-color: #4D47FF; */
}
.container-b-2{
    height: 100%;
    width: 49%;
    background-color: #15171B;
}
.container-b-3{
    height: 100%;
    width: 24%;
    background-color: #1C1F25;
    /* position: absolute;
    left: 75%; */
}
.container-b-1-1{
    height: 100%;
    width: 25%;
    background: #11151C;
    display: flex;
    flex-direction: column;

}
.container-b-1-2{
    height: 100%;
    width: 75%;
    background: #1D2025;
    display: flex;
    flex-direction: column;
}
.three-dots{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.three-dots div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-dot{
    color: #EE4F4F;
}
.yellow-dot{
    color: #EDCA4F;
}
.green-dot{
    color: #72F363;
}
.all-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.all-icons a{
    height: 10%;
    width: 100%;
}
.all-icons a img{
    height: 75%;
    margin-top: 9%;
    margin-left: 25%;
}
.upper-section-of-profile{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}
.input-search{
    background: #15181B;
    border: none;
    outline: none;
    height: 35%;
    width: 78%;
    margin-left: 11%;
    margin-top: 7%;
}
.search-btn{
    background-color: #2A4BF3;
    border: none;
    outline: none;
    height: 35%;
    width: 82%;
    margin-left: 9%;
    margin-top: 7%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Spartan', sans-serif;
    /* font-weight: 100; */
    font-size: 10px;
}
.lower-section-of-profile{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.user-name-profile{
    height: 15%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-image{ 
    width: 30%;
    height: 72%;
    border-radius: 50%;

}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-name{
    width: 80%;
    height: 100%;
    /* color: #c1c2c5; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.user-name h1{
    font-size: 13px;
    width: 100%;
    margin-left: 20%;
    color: #DADADB;
}
.user-name p{
    font-size: 10px;
    color: #6A6C70;
    margin-left: 10%;
}
.chat-box{
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    
}
.chat-input{
    height: 10%;
    width: 100%;
    display: flex;
}
.chat{
    clear: both;
}
.chat.right{
    width: 60%;
    min-height: 15%;
    max-height: 35%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    background: #191C20;
    box-shadow: 0 10px 14px rgba(0,0,0,0.20), 
            0 6px 6px rgba(0,0,0,0.20);
    border-radius: 10px;
    margin-top: 3%;
    
    margin-bottom: 3%;
}
.message-profile-image{
    /* height: 100%; */
    width:22%;
    margin-left: 4%;
    /* background-color: #2A4BF3; */
    background: #191C20;
}
.message-profile-image img{
    height: 55px;
    width: 85%;
    object-fit: cover;
    border-radius: 50%;
    background: #191C20;
}
.chat-message-content{
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #191C20;
    /* margin: 4%; */
}
.chat-message-content-user-name{
    /* height: 20%; */
    margin-top: 3%;
    background: #191C20;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* color: rgb(67, 166, 231); */
}
.chat-message-content-user-message{
    /* height: 70%; */
    margin-top: 2%;
    background-color: #191C20;
    font-family: 'Raleway',sans-serif;
    color: #e8e9ed;
    font-size: 14px;

}
.time-delete{
    background-color: #191C20;
    display: flex;
    /* margin-top: 3%; */
    justify-content: space-between;
}
.delete-icon{
    margin-top: 3%;
    color: #6e6f72 ;
}
.time{
    font-family: 'Raleway',sans-serif;
    color: #8f9094;
    font-size: 14px;
}
.green-dot-for-message{
    color: #68f568;
    margin-left: 56%;
    width: 20px;
    margin-top: -24%;
}
.chat.left{
    width: 60%;
    min-height: 15%;
    max-height: 35%;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    background: #191C20;
    box-shadow: 0 10px 14px rgba(0,0,0,0.20), 
            0 6px 6px rgba(0,0,0,0.20);
    border-radius: 10px;
    margin-top: 3%;
    
    margin-bottom: 3%;
}

.chat.join{
    width: 80%;
    height: 6%;
    margin-left: 10%;
    border-radius: 15px;
    margin-top: 3%;
    background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9 0%, #4776E6 100%);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    font-family: 'Raleway','sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}
.chat.leave{
    width: 80%;
    height: 6%;
    margin-left: 10%;
    border-radius: 15px;
    margin-top: 3%;
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b 0%, #e53935 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Raleway','sans-serif';
    justify-content: center;
    color: white;
    font-weight: bolder;
}
.deleted-chat-showcase.left{
    width: 70%;
    min-height: 15%;
    max-height: 35%;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    background: #191C20;
    box-shadow: 0 10px 14px rgba(0,0,0,0.20), 
            0 6px 6px rgba(0,0,0,0.20);
    border-radius: 20px;
    margin-top: 3%;
    font-family: 'Raleway','sans-serif';
    color: #8f9094;
    margin-top: 3%;
    
    margin-bottom: 3%;
}
.chat-input{
    /* background: white; */
    background-color: #11151C;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.20), 0 2px 2px rgba(0,0,0,0.20); */
    height: 8%;
    /* border: 1px solid rgb(203, 230, 248); */
    border: none;
    align-items: center;
    justify-content: space-around;
}
.chat-input input{
    outline:none;
    border: none;
    height: 100%;
    width: 85%;
    background-color: #11151C;
    font-family: 'Raleway','sans-serif';
    color: white;
}
.emojionearea.emojionearea-inline{
    width: 92%;
    outline: none;
    border: none;
    background-color: #11151C;
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.20), 0 2px 2px rgba(0,0,0,0.20); */
    font-family: 'Raleway','sans-serif';
    color: white;
}
.emojionearea-button-open{
    /* color: yellow; */
}
.emojionearea.emojionearea-inline>.emojionearea-editor {
    height: 32px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    color: antiquewhite;
    top: 0;
    left: 12px;
    right: 24px;
    padding: 6px 0;
}
.emojionearea .emojionearea-editor {
    color: rgb(202, 217, 231);
}
.send-btn{

}
.fa-paper-plane{
    color: #4c5158;
    font-size: 22px;
}
.fa-paper-plane:hover{
    transition: all 0.3s;
    transform: scaleX(1.1);
    cursor: pointer;
}
.delete-icon.left{
    display: none;
}
.deleted-time{
    margin-left: 12%;
}


.whiteboard-template{
    height: 100%;
    position: absolute;
    background-color: #0C1014;
    transition: all 0.6s;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .whiteboard-template h1{
    color: #FA5D7F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;

}
.whiteboard-template p{
    color:  #6C82F9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
} */
.whiteboard-template-1{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.whiteboard-template-1 img{
    height: 55%;
    width: 37%;
}
.whiteboard-template-1 h1{
    font-family: 'Montserrat','sans-serif';
    font-size:13px; 
    color: #DADADB;
    text-align: center;
}
.whiteboard-template-1 p{
    font-family: 'Montserrat','sans-serif';
    font-size: 10px;
    color: #6A6C70;
    margin-left: 10%;
    text-align: center;
    margin-left: -2%;
    margin-top: 2%;
}
.whiteboard-template.active{
    transition: all 0.6s;
    transform: translateX(256px);
}
.whiteboard-template-btn{
    height: 40px;
    width: 30%;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 18px;
    color: white;
    transition: all 0.5s;
    font-family: 'Montserrat','sans-serif';
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
}
.whiteboard-template-btn:hover{
    transform: scale(1.2);
    background-image: linear-gradient(to right, #FA5D7F 0% , #6C82F9 100%);
    border: none;
    cursor: pointer;
}
.nosee{
    display:none;
}
.whiteboard{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.optionss{
    height: 7%;
    background: #3c3d3e;
    display: flex;
    width: 85%;
    border-radius: 35px;
    justify-content: space-evenly;
    margin-top: 9%;
    margin-left: 9%;
}

.tool-img {
    width: 17%;
    height: 100%;
}
.tool-img img {
    height: 100%;
    width: 100%;
}
.drawing-area{
    height: 85%;
}
.active-tool{
    background: #1D2025;
    border-radius: 18px;
}
.hide{
    display: none;
}